@charset "UTF-8";

table#detailTbl {
	width: 900px;
	margin: 0 auto;
}

#detailTbl th.title {
	font-size: 24px;
	text-align: left;
}
#detailTbl td.content {
	height: 300px;
	vertical-align: top;
}

#detailTbl td#btnArea {
	height: 60px;
	text-align: right;
}
#detailTbl td#btnArea>a {
	font-weight: bold;
	padding: 8px 15px;
	border: 2px solid #aaa;
	border-radius: 3px
}


/* ////////////////////////////  시작 //////////////////////////// */
/* ////////////////////////////  끝 //////////////////////////// */
/* ///////////////  시작 /////////////// */
/* ///////////////  끝 /////////////// */
/* 시작 */
/* 끝 */